.themeSelect {
  background-color: transparent;
  border: 1px solid transparent;
  color: inherit;
  font-size: 1.3rem;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 1em;

  cursor: pointer;
}

.themeSelect:hover {
  background-color: #c1a4b8;
  border: 1px solid #242424;
  color: #ebb0ee;

  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.themeSelect:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.themeSelect:active {
  background-color: #242424;
  color: #ebb0ee;

  transition: background-color 0.3s ease, color 0.3s ease;

  margin: 4px 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.themeSelect__option {
  background-color: #c1a4b8;
  color: #ebb0ee;

  font-size: 1.3rem;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 1em;

  cursor: pointer;
}

.themeSelect__option:hover {
  background-color: #242424;
  color: #ebb0ee;

  transition: background-color 0.3s ease, color 0.3s ease;

  border-radius: 5px;
  margin: 4px 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.themeSelect__option:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.themeSelect__option:active {
  background-color: #242424;
  color: #ebb0ee;

  transition: background-color 0.3s ease, color 0.3s ease;

  margin: 4px 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}