.groupSection_other_container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.groupSection_all_container {
  margin-bottom: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.groupSection_other_container h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-main);
  margin-bottom: 0.5rem;
  text-align: center;
  font-family: var(--font-main);
}

.groupSection__group_container {
  display: flex;
  flex-direction: column;

  max-width: 1200px;
  padding: 1rem;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
