/* Base styles for larger screens */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c1a4b8;
}

.navbar__links {
  display: flex;
  gap: 20px;
}

.navLink {
  font-size: 1.3rem;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: #242424;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #242424;
}

.logOutBtn {
  cursor: pointer;
  text-decoration: none;
  color: #242424;
  background-color: #c1a4b8;
  border: none;
  padding: 0;
  margin: 0;
}

.logoNav {
  width: 4rem;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #242424;
  border-radius: 5px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px; /* Reduced padding */
  }

  /* Position links container to be below the hamburger */
  .navbar__links {
    display: none; /* Hide links by default */
    flex-direction: column;
    align-items: anchor-center;
    gap: 10px;
    position: absolute;
    top: 10rem;

    right: 4rem; /* Right margin to keep the dropdown menu aligned with the screen */

    width: 180px; /* Set fixed width */
    background-color: #c1a4b8; /* Background to match the navbar */
    box-shadow: -4px 3px 20px 5px rgb(74 120 74);
    padding: 10px 0;
    z-index: 100; /* Ensure the dropdown is above other content */
    animation: pulseGlow 2s ease-in-out infinite;
  }

  .navbar__links.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #c1a4b8;
    padding: 10px;
    border-radius: 4px;
  }

  .navLink {
    padding: 8px 12px;
    border-radius: 4px;
    width: 100%;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .navLink:hover {
    background-color: #242424;
    color: #c1a4b8;
  }
  /* invert color scheme when hovered */
  .navbar__links:hover {
    background-color: #242424; /* Dark background on hover */
    color: #c1a4b8;
  }
  .navLink:active {
    color: #c1a4b8; /* Change text color on active */
  }

  .logoNav {
    width: 3rem; /* Smaller logo on smaller screens */
  }

  /* Show hamburger menu icon on small screens */
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .hamburgerIcon {
    width: 100%;
    scale: 0.2;
  }
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
  .navLink {
    font-size: 1rem; /* Even smaller font size */
  }

  .logoNav {
    width: 2.5rem; /* Even smaller logo */
  }
}

@keyframes pulseGlow {
  0% {
    box-shadow: -4px 3px 20px 5px rgba(74, 120, 74, 0.4);
  }
  50% {
    box-shadow: -4px 3px 30px 10px rgba(74, 120, 74, 0.8);
  }
  100% {
    box-shadow: -4px 3px 20px 5px rgba(74, 120, 74, 0.4);
  }
}
