.sectionContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-main);
}
